@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width: 0.7rem;  
}
::-webkit-scrollbar-thumb{
  background-color: rgba(207, 207, 207, 0.6);
}
